body {
color: black;
background-color: white;
font-size: 30px;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
